flows.json
[
    {
        "id": "47be38e076503fac",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "abf7079a.653be8",
        "type": "mqtt in",
        "z": "47be38e076503fac",
        "name": "",
        "topic": "esp32/luminosity",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 480,
        "y": 120,
        "wires": [
            [
                "cc79021b.9a751",
                "623f2e4896da36c1"
            ]
        ]
    },
    {
        "id": "cc79021b.9a751",
        "type": "debug",
        "z": "47be38e076503fac",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 721,
        "y": 114,
        "wires": []
    },
    {
        "id": "21eae8f8.2971b8",
        "type": "ui_chart",
        "z": "47be38e076503fac",
        "name": "",
        "group": "61285987.c20328",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Luminosité - variances",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "10629fec937e128a",
        "type": "mqtt out",
        "z": "47be38e076503fac",
        "name": "",
        "topic": "esp32/output",
        "qos": "",
        "retain": "",
        "broker": "10e78a89.5b4fd5",
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "bde13c010916ef57",
        "type": "ui_switch",
        "z": "47be38e076503fac",
        "name": "",
        "label": "LED Bleue",
        "tooltip": "",
        "group": "7a8af7aea05fe2e6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 529,
        "y": 280,
        "wires": [
            [
                "10629fec937e128a",
                "7ddcbe1257bbad13"
            ]
        ]
    },
    {
        "id": "623f2e4896da36c1",
        "type": "ui_gauge",
        "z": "47be38e076503fac",
        "name": "",
        "group": "61285987.c20328",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Luminosité - mesure",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 760,
        "y": 160,
        "wires": []
    },
    {
        "id": "2cf89c8f3c7aae3a",
        "type": "mqtt in",
        "z": "47be38e076503fac",
        "name": "",
        "topic": "esp32/luminosity",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 500,
        "y": 200,
        "wires": [
            [
                "21eae8f8.2971b8"
            ]
        ]
    },
    {
        "id": "2f3ccbc5d0444b89",
        "type": "ui_dropdown",
        "z": "47be38e076503fac",
        "name": "",
        "label": "Sélection",
        "tooltip": "",
        "place": "Select musique",
        "group": "71713faa3e85d93d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "River flows in you - Yiruma",
                "value": "1",
                "type": "str"
            },
            {
                "label": "Fur elise - Beethoven",
                "value": "2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 460,
        "y": 400,
        "wires": [
            [
                "a14799740859da98",
                "558c134af595ca94"
            ]
        ]
    },
    {
        "id": "a14799740859da98",
        "type": "mqtt out",
        "z": "47be38e076503fac",
        "name": "",
        "topic": "esp32/musiques",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 820,
        "y": 400,
        "wires": []
    },
    {
        "id": "bcc76edb96cb491f",
        "type": "ui_text_input",
        "z": "47be38e076503fac",
        "name": "",
        "label": "Datation :",
        "tooltip": "",
        "group": "47ef18a34dffc5f2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 560,
        "y": 520,
        "wires": [
            [
                "449926728a88d6a9"
            ]
        ]
    },
    {
        "id": "46f66b71cdaedb68",
        "type": "mqtt out",
        "z": "47be38e076503fac",
        "name": "",
        "topic": "database/input",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 1080,
        "y": 520,
        "wires": []
    },
    {
        "id": "9b60db294938b9fb",
        "type": "mqtt in",
        "z": "47be38e076503fac",
        "name": "",
        "topic": "database/output",
        "qos": "2",
        "datatype": "utf8",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 520,
        "y": 660,
        "wires": [
            [
                "6d27082476bc8b6d",
                "b302eef3549f4d2f",
                "d4f9a6d4f6a05b22"
            ]
        ]
    },
    {
        "id": "6d27082476bc8b6d",
        "type": "ui_text",
        "z": "47be38e076503fac",
        "group": "47ef18a34dffc5f2",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Luminosité :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 770,
        "y": 680,
        "wires": []
    },
    {
        "id": "558c134af595ca94",
        "type": "debug",
        "z": "47be38e076503fac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 460,
        "wires": []
    },
    {
        "id": "b302eef3549f4d2f",
        "type": "ui_toast",
        "z": "47be38e076503fac",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "OK",
        "raw": false,
        "className": "",
        "topic": "Luminosité moyenne :",
        "name": "",
        "x": 770,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "8c8e0659aef83eb3",
        "type": "ui_button",
        "z": "47be38e076503fac",
        "name": "Lecture",
        "group": "71713faa3e85d93d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Lecture",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "send",
        "payload": "play",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 520,
        "y": 460,
        "wires": [
            [
                "a14799740859da98",
                "558c134af595ca94"
            ]
        ]
    },
    {
        "id": "7ddcbe1257bbad13",
        "type": "debug",
        "z": "47be38e076503fac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 340,
        "wires": []
    },
    {
        "id": "449926728a88d6a9",
        "type": "ui_button",
        "z": "47be38e076503fac",
        "name": "",
        "group": "7a8af7aea05fe2e6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Luminosité moyenne",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "aaa",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 820,
        "y": 520,
        "wires": [
            [
                "46f66b71cdaedb68"
            ]
        ]
    },
    {
        "id": "d4f9a6d4f6a05b22",
        "type": "debug",
        "z": "47be38e076503fac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 760,
        "wires": []
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "61285987.c20328",
        "type": "ui_group",
        "name": "Capteurs de l'ESP32",
        "tab": "441aeed65d472369",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7a8af7aea05fe2e6",
        "type": "ui_group",
        "name": "LED",
        "tab": "74f74bc696cbf713",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "71713faa3e85d93d",
        "type": "ui_group",
        "name": "Musiques",
        "tab": "74f74bc696cbf713",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "47ef18a34dffc5f2",
        "type": "ui_group",
        "name": "Base de donnée",
        "tab": "441aeed65d472369",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "441aeed65d472369",
        "type": "ui_tab",
        "name": "Données de capteurs",
        "icon": "settings_input_antenna",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "74f74bc696cbf713",
        "type": "ui_tab",
        "name": "Commandes de l'ESP32",
        "icon": "settings_remote",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]